<template>
  <div>
    <ul class="user-list" v-if="performances">
      <li v-for="performance in performances">{{ performance }}</li>
    </ul>
  </div>
</template>
<style scoped>
  li {
    height: 80px;
    margin: 5px;
  }
  .perf-list {
    background-color: lightgray;
    border: 1px solid gray;
  }
  .add-perf {
    border: 1px dashed gray;
  }
  table {
    border: 1px solid gray;
  }
  th {
    padding: 0px 5px 0px 5px;
    border: 1px solid gray;
  }
  td {
    padding: 0px 5px 0px 5px;
    border: 1px solid gray;
  }
  .empty{
    background-color: red;
  }
  .requested{
    background-color: green;
  }
  .user-info{
    text-align: left;
    padding: 0px 5px 0px 25px;
    float: left;
  }
  .detail-icons{
    text-align: right;
    margin: 2% 2% 0% 0%;
  }
</style>
<script>
import { mapActions } from 'vuex'
import axios from 'axios'

export default {
  data: function () {
    return {
      performances: null
    }

  },
  methods: {
    getPerformances() {
      axios.get('https://api.nerudnyfest.cz/v1/performance/')
      .then(response => {
        this.performances = response.data
      })
      .catch(e => {
        console.log(e.response)
      })
    }
  },
  mounted() {
    this.getPerformances()
  },
  components: {
  }
}
</script>
