<template ref="stage">
  <div>
    <h1>Stages</h1>
    <button class="addStageButton" @click="isStageModalActive = true">přidat stage</button>
    <b-modal :active.sync="isStageModalActive" has-modal-card>
      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Nová stage</p>
        </header>

        <section class="modal-card-body">
          <ul>
            <li class="form-item is-5">
              <b-field class="form-head" label="Název stage"></b-field>
                  <b-input type="text" v-model="stage_name"></b-input>
            </li>
            <li class="form-item is-5">
              <b-field class="form-head" label="Priorita"></b-field>
                  <b-input type="text" v-model="stage_priority"></b-input>
            </li>
            <li class="form-item is-5">
              <b-field class="form-head" label="Lokace lat"></b-field>
                  <b-input type="text" v-model="coordinates_lat"></b-input>
            </li>
            <li class="form-item is-5">
              <b-field class="form-head" label="Lokace att"></b-field>
                  <b-input type="text" v-model="coordinates_att"></b-input>
            </li>
            <li class="form-item is-5">
              <b-field class="form-head" label="Stage datum otevření"></b-field>
                  <b-datepicker type="text" v-model="stage_opened_date"></b-datepicker>
            </li>
            <li class="form-item is-5">
              <b-field class="form-head" label="Stage datum zavření"></b-field>
                  <b-datepicker type="text" v-model="stage_closed_date"></b-datepicker>
            </li>
          <li class="form-item is-2">
            <b-field class="stage_main_img" label="Stage hlavní foto">
              <b-upload v-model="stage_main_img">
                <a class="button is-success">
                  <b-icon icon="upload"></b-icon>
                  <span>Nahrát fotku</span>
                </a>
              </b-upload>
              <span class="file-name" v-if="stage_main_img">
            {{ stage_main_img.name}}
            </span>
            <a class="button is-danger" @click="stage_main_img = null" v-if="stage_main_img">
              <b-icon icon="delete"></b-icon>
              <span>Smazat fotku</span>
            </a>

          </b-field>
        </li>
        <li class="form-item is-2">
          <b-field class="stage_main_img" label="Stage sekundární foto">
            <b-upload v-model="stage_secondary_img">
              <a class="button is-success">
                <b-icon icon="upload"></b-icon>
                <span>Nahrát fotku</span>
              </a>
            </b-upload>
            <span class="file-name" v-if="stage_secondary_img">
          {{ stage_secondary_img.name}}
          </span>
          <a class="button is-danger" @click="stage_secondary_img = null" v-if="stage_secondary_img">
            <b-icon icon="delete"></b-icon>
            <span>Smazat fotku</span>
          </a>

        </b-field>
      </li>
      <li class="form-item is-5">
        <b-field class="stage_main_img" label="Stage custom pin">
          <b-upload v-model="stage_custom_pin">
            <a class="button is-success">
              <b-icon icon="upload"></b-icon>
              <span>Nahrát fotku</span>
            </a>
          </b-upload>
          <span class="file-name" v-if="stage_custom_pin">
        {{ stage_custom_pin.name }}
        </span>
        <a class="button is-danger" @click="stage_custom_pin = null" v-if="stage_custom_pin">
          <b-icon icon="delete"></b-icon>
          <span>Smazat fotku</span>
        </a>

      </b-field>
    </li>
    <li class="form-item is-5">
      <b-field class="stage_main_img" label="Stage partner logo">
        <b-upload v-model="stage_partner_logo">
          <a class="button is-success">
            <b-icon icon="upload"></b-icon>
            <span>Nahrát fotku</span>
          </a>
        </b-upload>
        <span class="file-name" v-if="stage_partner_logo">
          {{ stage_partner_logo.name }}
          </span>
          <a class="button is-danger" @click="stage_partner_logo = null" v-if="stage_partner_logo">
            <b-icon icon="delete"></b-icon>
            <span>Smazat fotku</span>
          </a>


      </b-field>
    </li>
    <li class="form-item is-5">
      <b-field class="form-head" label="Hlavní popis stage">
        <b-input type="textarea" v-model="stage_detail_main_description"></b-input>
      </b-field>
    </li>
    <li class="form-item is-5">
      <b-field class="form-head" label="Sekundární popis stage">
        <b-input type="textarea" v-model="stage_detail_secondary_description"></b-input>
      </b-field>
    </li>
    <li class="form-item is-5">
      <b-field class="form-head" label="Stage main button text">
        <b-input type="text" v-model="stage_button_main_text"></b-input>
      </b-field>
    </li>
    <li class="form-item is-5">
      <b-field class="form-head" label="Stage main button url">
        <b-input type="text" v-model="stage_button_main_url"></b-input>
      </b-field>
    </li>
    <li class="form-item is-5">
      <b-field class="form-head" label="Stage secondary button text">
        <b-input type="text" v-model="stage_button_secondary_text"></b-input>
      </b-field>
    </li>
    <li class="form-item is-5">
      <b-field class="form-head" label="Stage secondary button url">
        <b-input type="text" v-model="stage_button_secondary_url"></b-input>
      </b-field>
    </li>
    <li class="form-item is-5">
      <b-field class="form-head" label="Stage main color">
        <b-input type="text" v-model="stage_main_color"></b-input>
      </b-field>
    </li>
    <li class="form-item is-5">
      <b-field class="form-head" label="Stage secondary color">
        <b-input type="text" v-model="stage_secondary_color"></b-input>
      </b-field>
    </li>
  </ul>

        </section>
          <footer class="modal-card-foot">
          <button class="button is-danger" type="button">Cancel</button>
          <button class="button is-success" @click="addStage">Save</button>
          </footer>
        </div>
    </b-modal>
    <ul class="stage-list">
      <li class="perf-list" v-for="(stage, index) in stages" @click="isEditStageActive = true; openedIndex = index">
        <span class="left-stage">
          <span class="perf-name">Název stage: {{ stage.stage_name }},</span><br>
          <span class="perf-name"> Lokace: lat: {{ stage.coordinates_lat }} att: {{ stage.coordinates_att }},</span><br>
          <span class="perf-name"> Stage otevřená od: {{ new Date(stage.stage_opened_date).toLocaleString() }}</span><br>
        </span>
        <span class="right-stage">
          <span class="perf-name"> Stage otevřená do: {{ new Date(stage.stage_closed_date).toLocaleString() }}</span><br>
          <span class="perf-name"> Main button url: {{ stage.stage_button_main_url }}</span><br>
          <span class="perf-name"> Secondary button url: {{ stage.stage_button_secondary_url }}</span><br>
        </span>
        
        
      </li>
    </ul>
    <b-modal :active.sync="isEditStageActive" has-modal-card>
            <EditStage v-bind="{ stageId: stages[openedIndex]._id }"/>
    </b-modal>
  </div>
</template>
<style scoped>
  li {
    margin: 5px;
    margin-right: 5px;
  }
  .addStageButton {
    margin-bottom: 5vh;
  }
  .perf-list {
    display: flex;
    width: 99%;
    background-color: lightgray;
    border: 1px solid gray;
  }
  .left-stage {
    height: 100%;
    width: 40%;
  }
  .right-stage {
    height: 100%;
    width: 40%;
  }
  .add-perf {
    border: 1px dashed gray;
  }
  table {
    border: 1px solid gray;
  }
  th {
    padding: 0px 5px 0px 5px;
    border: 1px solid gray;
  }
  td {
    padding: 0px 5px 0px 5px;
    border: 1px solid gray;
  }
  .empty{
    background-color: red;
  }
  .requested{
    background-color: green;
  }
  .user-info{
    text-align: left;
    padding: 0px 5px 0px 25px;
    float: left;
  }
  .detail-icons{
    text-align: right;
    margin: 2% 2% 0% 0%;
  }
</style>
<script>
import axios from 'axios'
import EditStage from '../components/EditStage'

export default {
  data: function () {
    return {
      isStageModalActive: false,
      isEditStageActive: false,
      openedIndex: 0,
      stages: [],
        stage_name: null,
        stage_priority: null,
        coordinates_lat: null,
        coordinates_att: null,
        stage_opened_date: null,
        stage_closed_date: null,
        stage_main_img: null,
        stage_main_img_base64: null,
        stage_secondary_img: null,
        stage_secondary_img_base64: null,
        stage_custom_pin: null,
        stage_custom_pin_base64: null,
        stage_partner_logo: null,
        stage_partner_logo_base64: null,
        stage_detail_main_description: null,
        stage_detail_secondary_description: null,
        stage_button_main_text: null,
        stage_button_main_url: null,
        stage_button_secondary_text: null,
        stage_button_secondary_url: null,
        stage_main_color: null,
        stage_secondary_color: null

    }
  },
  components: {
    EditStage
  },
  methods: {
    getBase64MainPhoto(file) {
        console.log("Soubor je větší než 200kb")
        return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(this.stage_main_img_base64 = reader.result);
        reader.onerror = error => reject(error);
      });

      
    },
    getBase64SecondaryPhoto(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(this.stage_secondary_img_base64 = reader.result);
        reader.onerror = error => reject(error);
      });
    },
    getBase64CustomPin(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(this.stage_custom_pin_base64 = reader.result);
        reader.onerror = error => reject(error);
      });
    },
    getBase64PartnerLogo(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(this.stage_partner_logo_base64 = reader.result);
        reader.onerror = error => reject(error);
      });
    },
    addStage() {
        axios.post('https://api.nerudnyfest.cz/v1/stage/add', {
          stage_name: this.stage_name,
          stage_priority: this.stage_priority,
          coordinates_lat: this.coordinates_lat,
          coordinates_att: this.coordinates_att,
          stage_opened_date: this.stage_opened_date,
          stage_closed_date: this.stage_closed_date,
          stage_detail_main_description: this.stage_detail_main_description,
          stage_main_img: this.stage_main_img_base64,
          stage_secondary_img: this.stage_secondary_img_base64,
          stage_custom_pin: this.stage_custom_pin_base64,
          stage_partner_logo: this.stage_partner_logo_base64,
          stage_detail_secondary_description: this.stage_detail_secondary_description,
          stage_button_main_text: this.stage_button_main_text,
          stage_button_main_url: this.stage_button_main_url,
          stage_button_secondary_text: this.stage_button_secondary_text,
          stage_button_secondary_url: this.stage_button_secondary_url,
          stage_main_color: this.stage_main_color,
          stage_secondary_color: this.stage_secondary_color
        })
        .then(response => {
          console.log(response.data);
          this.isStageModalActive= false
          this.reloadStages()
        })
        .then(() => {
          this.stage_name = null,
          this.stage_priority = null,
          this.coordinates_lat = null,
          this.coordinates_att = null,
          this.stage_opened_date = null,
          this.stage_closed_date = null,
          this.stage_detail_main_description  = null,
          this.stage_main_img_base64 = null,
          this.stage_secondary_img_base64 = null,
          this.stage_custom_pin_base64 = null,
          this.stage_partner_logo_base64 = null,
          this.stage_detail_secondary_description = null,
          this.stage_button_main_text = null,
          this.stage_button_main_url = null,
          this.stage_button_secondary_text = null,
          this.stage_button_secondary_url = null,
          this.stage_main_color = null,
          this.stage_secondary_color = null
        })
        .catch(e => {
          console.log(e)
        })

    },
    reloadStages() {
      axios.get('https://api.nerudnyfest.cz/v1/stage/')
      .then(response => {
        this.stages = response.data
      })
    }
  },
  mounted() {
  axios.get('https://api.nerudnyfest.cz/v1/stage/')
  .then(response => {
    this.stages = response.data
  })

},
  watch: {
    stages: function (newData, oldData) {
      this.reloadStages()
    },
    stage_main_img: function (newImg, oldImg) {
      var FileSize = newImg.size / 1024 / 1024
      if (FileSize > 0.1) {
        alert("Soubor je větší než 100kb")
        this.stage_main_img = null
      } else {
        this.getBase64MainPhoto(newImg)
      }
    },
    stage_secondary_img: function (newImg, oldImg) {
      var FileSize = newImg.size / 1024 /1024
      if (FileSize > 0.05) {
        alert("Soubor je větší než 50kb")
        this.stage_secondary_img = null
      } else {
        this.getBase64SecondaryPhoto(newImg)
      }
    },
    stage_custom_pin: function (newImg, oldImg) {
      var FileSize = newImg.size / 1024 /1024
      if (FileSize > 0.02) {
        alert("Soubor je větší než 20kb")
        this.stage_custom_pin = null
      } else {
        this.getBase64CustomPin(newImg)
      }
      
    },
    stage_partner_logo: function (newImg, oldImg) {
      var FileSize = newImg.size / 1024 /1024
      if (FileSize > 0.02) {
        alert("Soubor je větší než 20kb")
        this.stage_partner_logo = null
      } else {
        this.getBase64PartnerLogo(newImg)
      }
      
    }
  }
  }

</script>
