<template>
  <div>
    <button class="button is-warning" @click="getPerformers">
      <b-icon pack="fas" icon="sync-alt" custom-class="fa-spin"></b-icon>
            <span>Refresh</span>
    </button>
    <section>

        <b-modal :active.sync="isComponentModalActive" has-modal-card>
            <UserDetail v-bind="{ userName: this.userName, userId: this.userId }"/>
        </b-modal>
        <b-modal :active.sync="isCreatePerformanceActive" has-modal-card>
            <CreatePerformance v-bind="{ userId: this.userId, stages: this.stages, performer_name: this.userName }"/>
        </b-modal>
    </section>
    <ul id="user-list">

        <li class="perf-list"  v-bind:class="{ approved: performer.approved, deleted: performer.deleted }" v-bind:key="performer" v-for="performer in performers" >
          <div class="user-info">
          <span class="perf-name">jméno: </span><span class="name">{{ performer.performer_name }},</span>
          <span class="perf-name"> email: </span><span class="email">{{ performer.contact_email }},</span>
          <span class="perf-name"> telefon: </span><span class="phone">{{ performer.contact_phone }}</span>
          <span class="perf-name"> žánr: </span><span class="phone">{{ performer.genre }}</span>
          <table>
            <thead>
              <tr>
                <th>pá_ráno</th>
                <th>pá_odp</th>
                <th>pá_ve</th>
                <th>pá_aft</th>
                <th>so_ráno</th>
                <th>so_odp</th>
                <th>so_ve</th>
                <th>so_aft</th>
              </tr>
            </thead>
              <tbody>
                <tr>
                  <td v-if="performer.friday_morning" class="requested">&nbsp</td>
                  <td v-else class="empty">{{ performer.friday_morning }}</td>
                  <td v-if="performer.friday_afternoon" class="requested">&nbsp</td>
                  <td v-else class="empty">{{ performer.friday_afternoon }}</td>
                  <td v-if="performer.friday_evening" class="requested">&nbsp</td>
                  <td v-else class="empty">{{ performer.friday_evening }}</td>
                  <td v-if="performer.friday_after" class="requested">&nbsp</td>
                  <td v-else class="empty">{{ performer.friday_after }}</td>
                  <td v-if="performer.saturday_morning" class="requested">&nbsp</td>
                  <td v-else class="empty">{{ performer.saturday_morning }}</td>
                  <td v-if="performer.saturday_afternoon" class="requested">&nbsp</td>
                  <td v-else class="empty">{{ performer.saturday_afternoon }}</td>
                  <td v-if="performer.saturday_evening" class="requested">&nbsp</td>
                  <td v-else class="empty">{{ performer.saturday_evening }}</td>
                  <td v-if="performer.saturday_after" class="requested">&nbsp</td>
                  <td v-else class="empty">{{ performer.saturday_after }}</td>
                </tr>
              </tbody>
            </table>
        </div>
        
        <div v-if="performer.deleted" class="detail-icons">
          <button @click="undeleteUser(performer._id)">
            <b-icon class="s-icon" pack="fas" icon="check" size="is-medium"></b-icon>
          </button>

        </div>
        <div v-else-if="performer.approved" class="detail-icons">
          <button @click="isCreatePerformanceActive = true; userId = performer._id; getStages(); getUserInfo()">
            <b-icon class="s-icon" pack="fas" icon="music" size="is-medium"></b-icon>
          </button>
          <button @click="deleteUser(performer._id)">
            <b-icon class="s-icon" pack="fas" icon="ban" size="is-medium"></b-icon>
          </button>
        </div>
        <div v-else class="detail-icons column">
          <button @click="isComponentModalActive = true; userId = performer._id; getUserInfo()">
            <b-icon class="s-icon" pack="fas" icon="edit" size="is-medium"></b-icon>
          </button>
          
          <button @click="deleteUser(performer._id)">
            <b-icon class="s-icon" pack="fas" icon="ban" size="is-medium"></b-icon>
          </button>
          <button @click="approveUser(performer._id)">
            <b-icon class="s-icon" pack="fas" icon="check" size="is-medium"></b-icon>
          </button>

        </div>
        </li>


    </ul>
  </div>
</template>
<style scoped>
  li {
    height: 120px;
    margin: 5px;
  }
  .user-info {
    width: 60%;
  }
  .perf-list {
    background-color: lightgray;
    border: 1px solid gray;
  }
  .deleted {
    background-color: tomato;
  }
  .approved {
    background-color: aquamarine;
  }
  .add-perf {
    border: 1px dashed gray;
  }
  table {
    border: 1px solid gray;
  }
  th {
    padding: 0px 5px 0px 5px;
    border: 1px solid gray;
  }
  td {
    padding: 0px 5px 0px 5px;
    border: 1px solid gray;
  }
  .empty{
    background-color: red;
  }
  .requested{
    background-color: green;
  }
  .user-info{
    text-align: left;
    padding: 0px 5px 0px 25px;
    float: left;
  }
  .detail-icons{
    text-align: right;
    margin: 2% 2% 0% 0%;
  }
</style>
<script>
import { mapActions } from 'vuex'
import UserDetail from '../components/UserDetail.vue'
import CreatePerformance from '../components/CreatePerformance.vue'
import axios from 'axios'

export default {
  data: function () {
    return {
      performers: [],
      userName: null,
      userId: null,
      stages: null,
      isComponentModalActive: false,
      isCreatePerformanceActive: false
    }

  },
  methods: {
    ...mapActions([
      'getPerformers'
    ]),
    getStages() {
      axios.get('https://api.nerudnyfest.cz/v1/stage/')
      .then(response => {
        this.stages = response.data
      })
      .catch( e => {
        console.log(e.response)
      })
    },
    reloadPerformers(){
      this.performers = []
      this.$store.dispatch("getPerformers").then(() => {
        for (let index = 0; index < this.$store.state.performers.length; index++) {
          this.performers.push(this.$store.state.performers[index])
        }
      })
    },
    showModal() {
      this.isModalVisible = true
    },
    closeModal() {
      this.isModalVisible = false
    },
    getUserInfo() {
      this.$store.dispatch('getPerformer', this.userId)
    },
    deleteUser(userId) {
      axios.put('https://api.nerudnyfest.cz/v1/performer/' + userId, {
        approved: false,
        deleted: true
      })
      .then(() => {
        this.reloadPerformers()
        
      })
      .catch(error => {
        console.log(error.response.data)
      })
    },
    undeleteUser(userId) {
      axios.put('https://api.nerudnyfest.cz/v1/performer/' + userId, {
        deleted: false
      })
      .then(() => {
        this.reloadPerformers()
        
      })
      .catch(error => {
        console.log(error.response.data)
      })
    },
    approveUser(userId) {
      axios.put('https://api.nerudnyfest.cz/v1/performer/' + userId, {
        approved: true
      })
      .then(() => {
        this.reloadPerformers()
      })
      .catch(error => {
        console.log(error.response.data)
      })
    }
  },
  computed: {
    ...mapActions([
      'getPerformers'
    ])
  },
  components: {
    UserDetail,
    CreatePerformance
  },
  created() {
  this.$store.dispatch("getPerformers").then(() => {
    for (let index = 0; index < this.$store.state.performers.length; index++) {
      this.performers.push(this.$store.state.performers[index])
    }

   })
}
}
</script>
