<template>
  <div>
    <button class="button is-warning" @click="getVolunteers">
      <b-icon pack="fas" icon="sync-alt" custom-class="fa-spin"></b-icon>
            <span>Refresh</span>
    </button>
    <section>
      <b-modal :active.sync="isComponentModalActive" has-modal-card>
            <VolunteerDetail v-bind="{ volunteerName: this.volunteerName, volunteerId: this.volunteerId, stages: this.stages }"/>
        </b-modal>
    </section>
    <ul id="user-list">

        <li class="perf-list"  v-bind:class="{ approved: volunteer.approved, deleted: volunteer.deleted }" v-bind:key="volunteer" v-for="volunteer in volunteers" >
          <div class="user-info">
            <span class="perf-name">Jméno: </span><span class="name">{{ volunteer.name }}, </span>
            <span class="perf-name"> Email: </span><span class="email">{{ volunteer.email }}, </span>
            <span class="perf-name"> Telefon: </span><span class="phone">{{ volunteer.phone }}, </span>
            <span class="perf-name"> Bio: </span><span class="phone">{{ volunteer.person_bio}}, </span>
            <span class="perf-name"> Stage: </span><span class="phone">{{ volunteer.stage_name}} </span>
            <table>
            <thead>
              <tr>
                <th>pá_ráno</th>
                <th>pá_odp</th>
                <th>pá_ve</th>
                <th>pá_aft</th>
                <th>so_ráno</th>
                <th>so_odp</th>
                <th>so_ve</th>
                <th>so_aft</th>
              </tr>
            </thead>
              <tbody>
                <tr>
                  <td v-if="volunteer.friday_morning" class="requested">&nbsp</td>
                  <td v-else class="empty">{{ volunteer.friday_morning }}</td>
                  <td v-if="volunteer.friday_afternoon" class="requested">&nbsp</td>
                  <td v-else class="empty">{{ volunteer.friday_afternoon }}</td>
                  <td v-if="volunteer.friday_evening" class="requested">&nbsp</td>
                  <td v-else class="empty">{{ volunteer.friday_evening }}</td>
                  <td v-if="volunteer.friday_after" class="requested">&nbsp</td>
                  <td v-else class="empty">{{ volunteer.friday_after }}</td>
                  <td v-if="volunteer.saturday_morning" class="requested">&nbsp</td>
                  <td v-else class="empty">{{ volunteer.saturday_morning }}</td>
                  <td v-if="volunteer.saturday_afternoon" class="requested">&nbsp</td>
                  <td v-else class="empty">{{ volunteer.saturday_afternoon }}</td>
                  <td v-if="volunteer.saturday_evening" class="requested">&nbsp</td>
                  <td v-else class="empty">{{ volunteer.saturday_evening }}</td>
                  <td v-if="volunteer.saturday_after" class="requested">&nbsp</td>
                  <td v-else class="empty">{{ volunteer.saturday_after }}</td>
                </tr>
              </tbody>
            </table>
        </div>
        <div v-if="volunteer.deleted" class="detail-icons">
          <button @click="undeleteVolunteer(volunteer._id)">
            <b-icon class="s-icon" pack="fas" icon="check" size="is-medium"></b-icon>
          </button>

        </div>
        <div v-else-if="volunteer.approved" class="detail-icons">
          <button @click="deleteVolunteer(volunteer._id)">
            <b-icon class="s-icon" pack="fas" icon="ban" size="is-medium"></b-icon>
          </button>
        </div>
        <div v-else class="detail-icons">
          <button @click="isComponentModalActive = true; volunteerId = volunteer._id; getVolunteerInfo(), getStages()">
            <b-icon class="s-icon" pack="fas" icon="edit" size="is-medium"></b-icon>
          </button>
          
          <button @click="deleteVolunteer(volunteer._id)">
            <b-icon class="s-icon" pack="fas" icon="ban" size="is-medium"></b-icon>
          </button>
          <button @click="approveVolunteer(volunteer._id)">
            <b-icon class="s-icon" pack="fas" icon="check" size="is-medium"></b-icon>
          </button>

        </div>
        </li>


    </ul>
  </div>
</template>
<style scoped>
  li {
    height: 120px;
    margin: 5px;
  }
  .user-info {
    width: 60%;
  }
  .perf-list {
    background-color: lightgray;
    border: 1px solid gray;
  }
  .deleted {
    background-color: tomato;
  }
  .approved {
    background-color: aquamarine;
  }
  .add-perf {
    border: 1px dashed gray;
  }
  table {
    border: 1px solid gray;
  }
  th {
    padding: 0px 5px 0px 5px;
    border: 1px solid gray;
  }
  td {
    padding: 0px 5px 0px 5px;
    border: 1px solid gray;
  }
  .empty{
    background-color: red;
  }
  .requested{
    background-color: green;
  }
  .user-info{
    text-align: left;
    padding: 0px 5px 0px 25px;
    float: left;
  }
  .detail-icons{
    text-align: right;
    margin: 2% 2% 0% 0%;
  }
  li {
    height: 120px;
    margin: 5px;
  }
  .perf-list {
    background-color: lightgray;
    border: 1px solid gray;
  }
  .empty{
    background-color: red;
  }   
  .deleted {
    background-color: tomato;
  }
  .approved {
    background-color: aquamarine;
  }
  .add-perf {
    border: 1px dashed gray;
  }
  table {
    border: 1px solid gray;
  }
  th {
    padding: 0px 5px 0px 5px;
    border: 1px solid gray;
  }
  td {
    padding: 0px 5px 0px 5px;
    border: 1px solid gray;
  }
  .empty{
    background-color: red;
  }
  .requested{
    background-color: green;
  }
  .user-info{
    text-align: left;
    padding: 0px 5px 0px 25px;
    float: left;
  }
  .detail-icons{
    text-align: right;
    margin: 2% 2% 2% 2%;
  }
</style>
<script>
import { mapActions } from 'vuex'
import axios from 'axios'
import VolunteerDetail from '../components/VolunteerDetail.vue'


export default {
  data: function () {
    return {
      volunteers: [],
      isComponentModalActive: false,
      stages: null,
      volunteerName: null
    }

  },
  components: {
    VolunteerDetail
  },
  methods: {
    ...mapActions([
      'getVolunteers'
    ]),
    getStages() {
      axios.get('https://api.nerudnyfest.cz/v1/stage/')
      .then(response => {
        this.stages = response.data
      })
      .catch( e => {
        console.log(e.response)
      })
    },
    showModal() {
      this.isModalVisible = true
    },
    closeModal() {
      this.isModalVisible = false
    },
    getVolunteerInfo () {
      this.$store.dispatch('getVolunteer', this.volunteerId)
    },
    reloadVolunteers () {
      this.volunteers = []
      this.$store.dispatch('getVolunteers').then(() => {
        for (let index = 0; index < this.$store.state.volunteers.length; index++) {
          this.volunteers.push(this.$store.state.volunteers[index])
        }
      })
    },
    deleteVolunteer (volunteerId) {
      axios.put('https://api.nerudnyfest.cz/v1/volunteer/' + volunteerId, {
        approved: false,
        deleted: true
      })
      .then(() => {
        this.reloadVolunteers()
      })
      .catch(error => {
        console.log(error.response.data)
      })
    },
    undeleteVolunteer (volunteerId) {
      axios.put('https://api.nerudnyfest.cz/v1/volunteer/' + volunteerId, {
        deleted: false
      })
      .then(() => {
        this.reloadVolunteers()
      })
      .catch(error => {
        console.log(error.response.data)
      })
    },
    approveVolunteer (volunteerId) {
      axios.put('https://api.nerudnyfest.cz/v1/volunteer/' + volunteerId, {
        approved: true
      })
      .then(() => {
        this.reloadVolunteers()
      })
      .catch(error => {
        console.log(error.response.data)
      })
    }
  },
  watch: {
    isComponentModalActive (oldWindow, newWindow) {
      this.reloadVolunteers()
    }
  },
  computed: {
    ...mapActions([
      'getVolunteers'
    ])
  },
  created() {
  this.$store.dispatch("getVolunteers").then(() => {
    for (let index = 0; index < this.$store.state.volunteers.length; index++) {
      this.volunteers.push(this.$store.state.volunteers[index])
      }
    })
  }
}
</script>
