<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">Nové vystoupení</p>
    </header>

    <section class="modal-card-body">
      <ul>
        <li>
          <b-field label="Jméno vystoupení / Jméno vystupujícího">
            <b-input type="text" v-model="new_performance.performance_name"></b-input>
          </b-field>
        </li>

        <li>
          <b-field label="Vyberte stage">
              <b-select placeholder="Stage" v-model="new_performance.stage_id" expanded>
                  <option
                      v-for="stage in stages"
                      :value="stage._id"
                      :key="stage._id"
                      placeholder="Vyberte stage"
                      extended>
                      {{ stage.stage_name }}
                  </option>
              </b-select>
          </b-field>
        </li>

          <li class="form-item is-5">
            <b-field class="form-head" label="Začátek vystoupení"></b-field>
            <flat-pickr v-model="new_performance.performance_start_date" :config="config"></flat-pickr>
          </li>
          <li class="form-item is-5">
            <b-field class="form-head" label="Konec vystoupení"></b-field>
            <flat-pickr v-model="new_performance.performance_end_date" :config="config"></flat-pickr>
          </li>
          <li>
            <b-checkbox v-model="new_performance.performance_approved"
                native-value=false>
                Zveřejněno
            </b-checkbox>
          </li>



      </ul>

    </section>
      <footer class="modal-card-foot">
      <button class="button is-danger" type="button" @click="$parent.close()">Cancel</button>
      <button class="button is-success" @click="addPerformance">Save</button>
      </footer>
    </div>
</template>
<script>
import axios from 'axios'
import flatPickr from 'vue-flatpickr-component'
import 'flatpickr/dist/flatpickr.css'

export default {
  name: "",
  data: function () {
    return {
      config: {
        enableTime: true
      },
      new_performance: {
        performer: this.userId,
        performance_name: this.performer_name,
        performance_start_date: null,
        performance_end_date: null,
        performance_approved: false,
        stage_id: null
      }
    }

  },
  props: ['userId', 'stages', 'performer_name'],
  methods: {
    addPerformance() {
      console.log('sending data')
      axios.post('https://api.nerudnyfest.cz/v1/performance/add/' + this.new_performance.performer, {
        _id: this.new_performance.performer,
        performance_name: this.new_performance.performer_name,
        performance_start_date: this.new_performance.performance_start_date,
        performance_end_date: this.new_performance.performance_end_date,
        performance_approved: this.new_performance.performance_approved,
        stage_id: this.new_performance.stage_id
      })
      .then((response) => {
        console.log(response.data)
        this.$parent.close()
      })
      .catch(e => {
        console.log(e)
      })
    }
  },
  components: {
    flatPickr
  }

}
</script>
<style scoped>
.form-head{
  margin-bottom: 0;
}
.form-item{
  cursor: pointer;
  padding-bottom: 1%;
}
.modal-card {
  width: 70vw;
}
</style>
