<template>

      <div class="modal-card">
        <header class="modal-card-head">
          <p class="modal-card-title">Nová stage</p>
        </header>

        <section class="modal-card-body">
          <ul>
            <li class="form-item is-5">
              <b-field class="form-head" label="Název stage"></b-field>
                  <b-input type="text" v-model="stage.stage_name"></b-input>
            </li>
            <li class="form-item is-5">
              <b-field class="form-head" label="Priorita"></b-field>
                  <b-input type="text" v-model="stage.stage_priority"></b-input>
            </li>
            <li class="form-item is-5">
              <b-field class="form-head" label="Lokace lat"></b-field>
                  <b-input type="text" v-model="stage.coordinates_lat"></b-input>
            </li>
            <li class="form-item is-5">
              <b-field class="form-head" label="Lokace att"></b-field>
                  <b-input type="text" v-model="stage.coordinates_att"></b-input>
            </li>
            <li class="form-item is-5">
              <b-field class="form-head" label="Stage datum otevření"></b-field>
                  <b-datepicker type="text" v-model="stage.stage_opened_date"></b-datepicker>
            </li>
            <li class="form-item is-5">
              <b-field class="form-head" label="Stage datum zavření"></b-field>
                  <b-datepicker type="text" v-model="stage.stage_closed_date"></b-datepicker>
            </li>
          <li class="form-item is-12">
            <b-field class="form-head" label="Stage hlavní foto">
                  <img :src="stage_main_img_url" alt="">
                  
            </b-field>
            <b-upload class="form-head" v-model="main_img_file">
                    <a class="button is-warning">
                      <span>Nahrát hlavní fotku</span>
                    </a>
            </b-upload>
          </li>
          <li class="form-item is-5">
            <b-field class="form-head" label="Stage sekundární foto">
                  <img :src="stage_secondary_img_url" alt="">
            </b-field>
          </li>
          <li class="form-item is-5">
            <b-field class="form-head" label="Stage partner logo">
                  <img :src="stage_partner_logo_url" alt="">
            </b-field>
          </li>
          <li class="form-item is-5">
            <b-field class="form-head" label="Stage custom pin">
                  <img :src="stage_custom_pin_url" alt="">
            </b-field>
          </li>


    <li class="form-item is-5">
      <b-field class="form-head" label="Hlavní popis stage">
        <b-input type="textarea" v-model="stage.stage_detail_main_description"></b-input>
      </b-field>
    </li>
    <li class="form-item is-5">
      <b-field class="form-head" label="Sekundární popis stage">
        <b-input type="textarea" v-model="stage.stage_detail_secondary_description"></b-input>
      </b-field>
    </li>
    <li class="form-item is-5">
      <b-field class="form-head" label="Stage main button text">
        <b-input type="text" v-model="stage.stage_button_main_text"></b-input>
      </b-field>
    </li>
    <li class="form-item is-5">
      <b-field class="form-head" label="Stage main button url">
        <b-input type="text" v-model="stage.stage_button_main_url"></b-input>
      </b-field>
    </li>
    <li class="form-item is-5">
      <b-field class="form-head" label="Stage secondary button text">
        <b-input type="text" v-model="stage.stage_button_secondary_text"></b-input>
      </b-field>
    </li>
    <li class="form-item is-5">
      <b-field class="form-head" label="Stage secondary button url">
        <b-input type="text" v-model="stage.stage_button_secondary_url"></b-input>
      </b-field>
    </li>
    <li class="form-item is-5">
      <b-field class="form-head" label="Stage main color">
        <b-input type="text" v-model="stage.stage_main_color"></b-input>
      </b-field>
    </li>
    <li class="form-item is-5">
      <b-field class="form-head" label="Stage secondary color">
        <b-input type="text" v-model="stage.stage_secondary_color"></b-input>
      </b-field>
    </li>
  </ul>

        </section>
          <footer class="modal-card-foot">
          <button class="button is-danger" type="button">Cancel</button>
          <button class="button is-success" @click="updateStage">Save</button>
          </footer>
        </div>

</template>
<style scoped>
.form-head{
  margin-bottom: 0;
}
.form-item{
  cursor: pointer;
  padding-bottom: 1%;
}
.modal-card {
  width: 70vw;
}
</style>
<script>
import axios from 'axios'
export default {
    name :"EditStage",
    data: function () {
        return {
            stage: {},
            stage_main_img_url: "https://cdn.nerudnyfest.cz/stages/" + this.stageId + "/main_img.jpg",
            stage_secondary_img_url: "https://cdn.nerudnyfest.cz/stages/" + this.stageId + "/secondary_stage_img.jpg",
            stage_partner_logo_url: "https://cdn.nerudnyfest.cz/stages/" + this.stageId + "/partner_logo.jpg",
            stage_custom_pin_url: "https://cdn.nerudnyfest.cz/stages/" + this.stageId + "/custom_pin.jpg",
        }
    },
    methods: {
        getBase64MainPhoto(file) {
        console.log("Soubor je větší než 200kb")
        return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(this.stage_main_img_base64 = reader.result);
        reader.onerror = error => reject(error);
      });

      
    },
    getBase64SecondaryPhoto(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(this.stage_secondary_img_base64 = reader.result);
        reader.onerror = error => reject(error);
      });
    },
    getBase64CustomPin(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(this.stage_custom_pin_base64 = reader.result);
        reader.onerror = error => reject(error);
      });
    },
    getBase64PartnerLogo(file) {
      return new Promise((resolve, reject) => {
        const reader = new FileReader();
        reader.readAsDataURL(file);
        reader.onload = () => resolve(this.stage_partner_logo_base64 = reader.result);
        reader.onerror = error => reject(error);
      });
    },
        updateStage(){
            axios.put('https://api.nerudnyfest.cz/v1/stage/' + this.stage._id, {
                stage_name: this.stage.stage_name,
                stage_priority: this.stage.stage_priority,
                coordinates_lat: this.stage.coordinates_lat,
                coordinates_att: this.stage.coordinates_att,
                stage_opened_date: this.stage.stage_opened_date,
                stage_closed_date: this.stage.stage_closed_date,
                stage_detail_main_description: this.stage.stage_detail_main_description,
                stage_main_img: this.stage_main_img_base64,
                stage_secondary_img: this.stage_secondary_img_base64,
                stage_custom_pin: this.stage_custom_pin_base64,
                stage_partner_logo: this.stage_partner_logo_base64,
                stage_detail_secondary_description: this.stage.stage_detail_secondary_description,
                stage_button_main_text: this.stage.stage_button_main_text,
                stage_button_main_url: this.stage.stage_button_main_url,
                stage_button_secondary_text: this.stage.stage_button_secondary_text,
                stage_button_secondary_url: this.stage.stage_button_secondary_url,
                stage_main_color: this.stage.stage_main_color,
                stage_secondary_color: this.stage.stage_secondary_color
            })
            .then(()=> {
              
                  this.$parent.close()
                
              
            })
        }
    },
    props: ['stageId'],
    beforeMount() {
        axios.get('https://api.nerudnyfest.cz/v1/stage/' + this.stageId)
            .then(response => {
               this.stage =  response.data
            })
            .then(() =>{
                this.stage.stage_opened_date = new Date(this.stage.stage_opened_date)
                this.stage.stage_closed_date = new Date(this.stage.stage_closed_date)
                this.stage_main_img_base64 = this.stage.stage_main_img
                this.stage_secondary_img_base64 = this.stage.stage_secondary_img
                this.stage_partner_logo_base64 = this.stage.stage_partner_logo
                this.stage_custom_pin_base64 = this.stage.stage_custom_pin
            })
    },
    watch: {
    stage_main_img: function (newImg, oldImg) {
        var FileSize = newImg.size / 1024 / 1024
        if (FileSize > 0.1) {
            alert("Soubor je větší než 100kb")
            this.stage_main_img = null
        } else {
            this.getBase64MainPhoto(newImg)
        }
    },
    stage_secondary_img: function (newImg, oldImg) {
      var FileSize = newImg.size / 1024 /1024
      if (FileSize > 0.05) {
        alert("Soubor je větší než 50kb")
        this.stage_secondary_img = null
      } else {
        this.getBase64SecondaryPhoto(newImg)
      }
    },
    stage_custom_pin: function (newImg, oldImg) {
      var FileSize = newImg.size / 1024 /1024
      if (FileSize > 0.02) {
        alert("Soubor je větší než 20kb")
        this.stage_custom_pin = null
      } else {
        this.getBase64CustomPin(newImg)
      }
      
    },
    stage_partner_logo: function (newImg, oldImg) {
      var FileSize = newImg.size / 1024 /1024
      if (FileSize > 0.02) {
        alert("Soubor je větší než 20kb")
        this.stage_partner_logo = null
      } else {
        this.getBase64PartnerLogo(newImg)
      }
      
    }
}}
</script>

    