<template>
  <footer class="footer">
  <div class="content has-text-centered">
    <p>
      <strong>Website</strong> by <a href="https://google.com">Blich Studio</a>. The source code is licensed
    </p>
  </div>
</footer>
</template>
<script>
export default {
  name: 'FooterBar',
  data: () => ({

  })
}
</script>
<style lang="scss" scoped>
.footer {
}
</style>
