<template>
  <nav class="navbar" role="navigation" aria-label="main navigation">
  <div class="navbar-brand">

    <a role="button" class="navbar-burger burger" aria-label="menu" aria-expanded="false" data-target="navbarBasicExample">
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
      <span aria-hidden="true"></span>
    </a>
  </div>

  <div id="navbarBasicExample" class="navbar-menu">
    <div class="navbar-start">

    </div>

    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a v-if="this.$store.state.accessToken" class="button is-light" @click="logout">
            Log out
          </a>
        </div>
      </div>
    </div>
  </div>
</nav>
</template>
<script>
import { mapActions } from 'vuex'
export default {
  name: 'NavBar',
  methods: {
    ...mapActions([
      'logout'
    ])
  },
  data: () => ({
  })
}
</script>
<style lang="scss" scoped>
</style>
