<template>
    <aside class="menu">
  <p class="menu-label">
    General
  </p>
  <ul class="menu-list">
    <li><a>Uživatelé</a></li>
  </ul>
  <p class="menu-label">
    Administrace
  </p>
  <ul class="menu-list">
    <li><router-link to="/admin/users"><a>Vystupující</a></router-link></li>
    <li><router-link to="/admin/volunteers"><a>Dobrovolníci</a></router-link></li>
    <li><router-link to="/admin/stages"><a>Stages</a></router-link></li>
    <li><router-link to="/admin/performances"><a>Vystoupení</a></router-link></li>
    <li><a>Trasy</a></li>
  </ul>
</aside>

</template>
<script>
export default {
  name: 'SideBar',
  data: () => ({

  })
}
</script>
<style>
</style>
