<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ userName }}</p>
    </header>

    <section class="modal-card-body">
      <ul>
        <li class="form-item is-5">
          <b-field class="form-head" label="Jméno vytupujícího"></b-field>
              <b-input type="text" v-model="$store.state.performer.performer_name "></b-input>
        </li>
        <li class="form-item is-5">
          <b-field class="form-head" label="Jméno kontaktu"></b-field>
              <b-input type="text" v-model="$store.state.performer.contact_name "></b-input>
        </li>
        <li class="form-item is-5">
          <b-field class="form-head" label="Kontaktní telefon"></b-field>
              <b-input type="text" v-model="$store.state.performer.contact_phone"></b-input>
        </li>
        <li class="form-item is-5">
          <b-field class="form-head" label="Kontaktní email"></b-field>
              <b-input type="text" v-model="$store.state.performer.contact_email"></b-input>
        </li>
        <li class="form-item is-5">
          <b-field class="form-head" label="Počet vystupujících"></b-field>
              <b-input type="text" v-model="$store.state.performer.number_of_performers"></b-input>
        </li>
        <li class="form-item is-5">
          <b-field class="form-head" label="Typ vystoupení"></b-field>
              <b-input type="text" v-model="$store.state.performer.type_of_performance"></b-input>
        </li>
        <li class="form-item is-5">
          <b-field class="form-head" label="Žánr"></b-field>
              <b-input type="text" v-model="$store.state.performer.genre"></b-input>
        </li>
        <li class="form-item is-5">
          <b-field class="form-head" label="Název vystoupení"></b-field>
              <b-input type="text" v-model="$store.state.performer.title_of_performance"></b-input>
        </li>
        <li class="form-item is-5">
          <b-field class="form-head" label="Popis vystoupení CZ"></b-field>
              <b-input type="textarea" v-model="$store.state.performer.performance_description_cz"></b-input>
        </li>
        <li class="form-item is-5">
          <b-field class="form-head" label="Popis vystoupení EN"></b-field>
              <b-input type="textarea" v-model="$store.state.performer.performance_description_en"></b-input>
        </li>
        <li class="form-item is-5">
          <b-field class="form-head" label="Odkaz na youtube"></b-field>
              <b-input type="text" v-model="$store.state.performer.youtube_url"></b-input>
        </li>
        <li class="form-item is-5">
          <b-field class="form-head" label="Odkaz na facebook"></b-field>
              <b-input type="text" v-model="$store.state.performer.facebook_url"></b-input>
        </li>
        <li class="form-item is-5">
          <b-field class="form-head" label="Délka vystoupení"></b-field>
              <b-input type="text" v-model="$store.state.performer.performance_length"></b-input>
        </li>
        <li class="form-item is-5">
          <b-field class="form-head" label="Speciální požadavky"></b-field>
              <b-input type="text" v-model="$store.state.performer.special_demands"></b-input>
        </li>
        <li class="form-item is-5">
          <b-field class="form-head" label="Vystupoval v minulosti"></b-field>
              <b-input type="text" v-model="$store.state.performer.performed"></b-input>
        </li>
        <li class="form-item is-5">
          <b-field class="form-head" label="odkaz na obrázek"></b-field>
              <b-input type="text" v-model="$store.state.performer.img_url"></b-input>
        </li>

      </ul>

    </section>
      <footer class="modal-card-foot">
      <button class="button is-danger" type="button" @click="$parent.close()">Cancel</button>
      <button class="button is-success" @click="updatePerformer">Save</button>
      </footer>
    </div>
</template>
<script>
import { mapActions } from 'vuex'
import axios from 'axios'

export default {
  name: "",
  data: () => ({
    contact_name: this.$store.state.performer.contact_name,
    contact_email: null,
    contact_phone: null
  }),
  props: ['userName', 'userId'],
  methods: {
    ...mapActions([
      'getPerformers'
    ]),
    reloadPerformers(){
      this.performers = []
      this.$store.dispatch("getPerformers").then(() => {
        for (let index = 0; index < this.$store.state.performers.length; index++) {
          this.performers.push(this.$store.state.performers[index])
        }
      })
    },
    updatePerformer() {
      axios.put('https://api.nerudnyfest.cz/v1/performer/' + this.$store.state.performer._id, {
        performance_length: this.$store.state.performer.performance_length,
        performer_name: this.$store.state.performer.performer_name,
        contact_name: this.$store.state.performer.contact_name,
        contact_phone: this.$store.state.performer.contact_phone,
        contact_email: this.$store.state.performer.contact_email,
        number_of_performers: this.$store.state.performer.number_of_performers,
        type_of_performance: this.$store.state.performer.type_of_performance,
        genre: this.$store.state.performer.genre,
        title_of_performance: this.$store.state.performer.title_of_performance,
        performance_description_cz: this.$store.state.performer.performance_description_cz,
        performance_description_en: this.$store.state.performer.performance_description_en,
        youtube_url: this.$store.state.performer.youtube_url,
        facebook_url: this.$store.state.performer.facebook_url,
        special_demands: this.$store.state.performer.special_demands,
        performed: this.$store.state.performer.performed,
        img_url: this.$store.state.performer.img_url
      })
      .then(() => {
        this.$store.dispatch('getPerformers')
      })
      .then(() => {
        this.$parent.close()
      })
      .catch(e => {
        console.log(e.response);
      })
    }
  }
}
</script>
<style scoped>
.form-head{
  margin-bottom: 0;
}
.form-item{
  cursor: pointer;
  padding-bottom: 1%;
}
.modal-card {
  width: 70vw;
}
</style>
