<template>
  <div class="modal-card">
    <header class="modal-card-head">
      <p class="modal-card-title">{{ volunteerId }}</p>
    </header>

    <section class="modal-card-body">
      <ul>
        <li class="form-item is-5">
          <b-field class="form-head" label="Jméno dobrovolníka"></b-field>
              <b-input type="text" v-model="name"></b-input>
        </li>
        <li class="form-item is-5">
          <b-field class="form-head" label="Email"></b-field>
              <b-input type="text" v-model="email"></b-input>
        </li>
        <li class="form-item is-5">
          <b-field class="form-head" label="Kontaktní telefon"></b-field>
              <b-input type="text" v-model="phone"></b-input>
        </li>
        <li class="form-item is-5">
          <b-field class="form-head" label="Bio"></b-field>
              <b-input type="textarea" v-model="person_bio"></b-input>
        </li>
        <li class="form-item is-5">
          <b-field class="form-head" label="Očekávání"></b-field>
              <b-input type="textarea" v-model="festival_expectation"></b-input>
        </li>
        <li class="form-item is-5">
          <b-field class="form-head" label="Zkušenosti"></b-field>
              <b-input type="textarea" v-model="festival_experience"></b-input>
        </li>
        <li class="form-item is-5">
          <b-field class="form-head" label="Motivace"></b-field>
              <b-input type="textarea" v-model="festival_motivation"></b-input>
        </li>
        <li>
            <b-field label="Vyberte stage">
              <b-select placeholder="Stage" v-model="stage_name" expanded>
                  <option
                      v-for="stage in stages"
                      :value="stage.stage_name"
                      :key="stage.stage_name"
                      @click="stage_id = stage_id"
                      placeholder="Vyberte stage"
                      extended>
                      {{ stage.stage_name }}
                  </option>
              </b-select>
          </b-field>
        </li>
        

      </ul>

    </section>
      <footer class="modal-card-foot">
      <button class="button is-danger" type="button" @click="$parent.close()">Cancel</button>
      <button class="button is-success" @click="updateVolunteer">Save</button>
      </footer>
    </div>
</template>
<script>
import { mapActions } from 'vuex'
import axios from 'axios'

export default {
  name: "VolunteerDetail",
  data: function () {
      return {
        name: null,
        email: null,
        phone: null,
        person_bio: null,
        festival_expectation: null,
        festival_experience: null,
        festival_motivation: null,
        stage_id: null,
        stage_name: null
      }
  },
  props: ['volunteerName', 'volunteerId', 'stages'],
  methods: {
    ...mapActions([
      'getVolunteers'
    ]),
    updateVolunteer() {
      axios.put('https://api.nerudnyfest.cz/v1/volunteer/' + this.volunteerId, {
        name : this.name,
        phone : this.phone,
        email : this.email,
        person_bio : this.person_bio,
        festival_expectation : this.festival_expectation,
        festival_experience : this.festival_experience,
        festival_motivation : this.festival_motivation,
        approved : this.approved,
        stage_id : this.stage_id,
        stage_name : this.stage_name  
      })
      .then((response) => {
        console.log(response.data)
        this.$parent.close()
      })
      .then(() => {
        this.$store.dispatch('getVolunteers')
      })
      .catch(e => {
        console.log(e.response);
      })
    }
  },
  created() {
        axios.get('https://api.nerudnyfest.cz/v1/volunteer/' + this.volunteerId)
        .then((response) => {
          this.name = response.data.name,
          this.phone = response.data.phone,
          this.email = response.data.email,
          this.person_bio = response.data.person_bio,
          this.festival_expectation = response.data.festival_expectations 
          this.festival_experience = response.data.festival_experience
          this.festival_motivation = response.data.festival_motivation
          this.approved = response.data.approved,
          this.stage_id = response.data.stage_id,
          this.stage_name = response.data.stage_name
        })
        .catch(error => {
          console.log(error)
          
        })
  }
}
</script>
<style scoped>
.form-head{
  margin-bottom: 0;
}
.form-item{
  cursor: pointer;
  padding-bottom: 1%;
}
.modal-card {
  width: 70vw;
}
</style>
