<template>
  <div>
    <NavBar />
      <div class="columns">
        <div class="column is-2">
          <SideBar />
        </div>
        <div class="column is-10">
          <slot />
        </div>
      </div>


  <FooterBar />
  </div>
</template>
<script>
import NavBar from '../components/NavBar.vue'
import SideBar from '../components/SideBar.vue'
import FooterBar from '../components/FooterBar.vue'
export default {
  components: {
    NavBar,
    SideBar,
    FooterBar
  }
}
</script>
<style lang="scss" scoped>
</style>
