<template>
  <div>
    <NavBar />
    <div class="container">
      <slot />
    </div>

  </div>
</template>
<script>
import NavBar from '@/components/NavBar'
export default {
  components: {
    NavBar
  }
}
</script>
<style lang="scss" scoped>
</style>
